body{
  background-color: #FDF4E5;
}
.container_nav{
  display: flex;
  display: grid;
  height: 100px;
  grid-template-columns: 250px 11fr 1fr 1fr 1fr 1fr;
}
.nav_logo {
  width: 250px;       /* Ajuste conforme necessário */
  height: auto;       /* Altura automática para manter proporção */
}

.nav_logo img {
  width: 100%;
  height: auto;
  display: block;
}
  .back-img {
  display: block;
  width: 100%;
  height: 100%; /* Ou defina uma altura fixa se necessário */
  background-image: url('/frontend/client/src/images/');
  background-size: cover;   /* ou 'cover', veja abaixo */
  background-repeat: no-repeat;
  background-position: center;
}
.nav_livraria {
  display: flex;
  justify-content: center; 
  align-items: center;     
  height: 100px;           
}
.nav_livraria a {
  font-size: 25px;
  font-family: "Julius Sans One", sans-serif;
  color: black;
  text-decoration: none;
}
.nav_sobre {
  display: flex;
  justify-content: center; 
  align-items: center;     
  height: 100px;           
}
.nav_sobre a {
  font-size: 25px;
  font-family: "Julius Sans One", sans-serif;
  color: black;
  text-decoration: none;
}
.nav_login {
  display: flex;
  justify-content: center; 
  align-items: center;     
  height: 100px;           
}
.nav_login a {
  font-size: 25px;
  font-family: "Julius Sans One", sans-serif;
  color: black;
  text-decoration: none;
}

.nav_carrinho {
  display: flex;
  justify-content: center; 
  align-items: center;     
  height: 95px;           
}
.nav_carrinho a {
  font-size: 25px;
  font-family: "Julius Sans One", sans-serif;
  color: black;
  text-decoration: none;
}



footer{
  height: 600px;
}

.container_footer {
  background-color: #776247;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: white;
}