body{
  background-color: #FDF4E5;
  font-family: "Inter", sans-serif;
}
.container_nav{
  display: flex;
  display: grid;
  height: 100px;
  grid-template-columns: 250px 8fr 1fr 1fr 1fr 1fr;
}
.nav_logo {
  width: 250px;   
  height: auto;    
}
  
.nav_logo img {
  width: 100%;
  height: auto;
  display: block;
}

.back-img {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url('/frontend/client/src/images/bru.png');
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center;
}

.nav_livraria {
  display: flex;
  justify-content: center; 
  align-items: center;     
  height: 100px;           
}

.nav_livraria a {
  font-size: 30px;
  font-family: "Julius Sans One", sans-serif;
  color: black;
  text-decoration: none;
}

.nav_sobre {
  display: flex;
  justify-content: center; 
  align-items: center;     
  height: 100px;           
}
.nav_sobre a {
  font-size: 30px;
  font-family: "Julius Sans One", sans-serif;
  color: black;
  text-decoration: none;
}

.nav_login {
  display: flex;
  justify-content: center; 
  align-items: center;     
  height: 100px;           
}

.nav_login a {
  font-size: 30px;
  font-family: "Julius Sans One", sans-serif;
  color: black;
  text-decoration: none;
}

.nav_carrinho {
  display: flex;
  justify-content: center; 
  align-items: center;     
  height: 95px;           
}

.nav_carrinho a {
  font-size: 30px;
  font-family: "Julius Sans One", sans-serif;
  color: black;
  text-decoration: none;
}

footer {
  display: flex;
  height: 400px;
  background-color: #776247;
}

.container_footer {
  height: 400px; 
  width: 100%; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 60px;
  box-sizing: border-box; 
  color: #ffffff; 
}

h3 {
  display: grid;
  font-size: 27px;
  font-family: "Inclusive Sans", sans-serif;
  justify-content: center;
  align-items: center;
  font-weight: normal;
}

.redes_socias{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.livros {
  display: flex;
}

.capa-livro { 
  flex: 1;
  border-radius: 10px;
  margin-right: 10px;
  margin-top: 15px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-grid { 
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.box { 
  text-align: center;
}

.button_carrinho { 
  text-align: center;
}

.button_comprar {
  text-align: center;
}

.informacoes_livros { 
  text-align: center;
}

.right-grid p { 
  font-size: 20px;
}

.box-button { 
  text-align: left;
}

.button_carrinho { 
  border-radius: 10px;
  padding: 20px 140px;
  border: 1px solid #ccc;
  background-color: #604432;
  transition: background 0.4s, color 0.4s;
  cursor: pointer;
  overflow: hidden;
  transition: background-color 0.4s ease-in-out;
}


.button_carrinho:hover {
  background-color: #776247;
}

.button_comprar { 
  border-radius: 10px;
  padding: 20px 192px;
  border: 1px solid #ccc;
  background-color: #604432;
  transition: background 0.4s, color 0.4s;
  cursor: pointer;
  overflow: hidden;
  transition: background-color 0.4s ease-in-out;  
}

.button_comprar:hover { 
  background-color: #776247;
}

.right-grid h1 {
  font-size: 24px;
}

.right-grid p, h1 { 
  text-align: left;
}

.informacoes_livros p { 
  text-align: left;
  display: block;
  font-size: 16px;
  word-wrap: break-word;
  line-height: 1.5;
  overflow-wrap: break-word;
  width: 50%;
}
